.rootBox {
  width: 100vw;
  height: 100vh;
}

.controllersBox {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.addBtn {
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  background-color: cadetblue;
  border: none;
  outline: none;
}

.addBtn:hover,
.addBtn:focus {
  outline: none;
  border: none;
}

.addBtn:disabled {
  background-color: gray;
  color: lightgray;
}

.limitSelect {
  padding: 0.25rem 0.5rem;
}

.inQueueTypo span {
  display: inline-block;
  color: cadetblue;
  width: 2rem;
}

.progressBarsBox {
  margin: 2rem auto 0;
  width: 80%;
  height: fit-content;
}

.progessBarBg {
  position: relative;
  width: 100%;
  height: 2rem;
  border-radius: 1rem;
  background-color: gray;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.progessBarBg:last-of-type {
  margin-bottom: 0;
}

.progessBarFill {
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: cadetblue;
  transition: 0.2s transform ease-in-out;
}

.progressLabel {
  position: absolute;
  color: #fff;
  left: 50%;
  bottom: 15%;
}
